<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingqing.mapper.SalesMapper">

  <resultMap id="BaseResultMap" type="com.mingqing.entity.Sales">
    <id property="saleid" column="SaleID" jdbcType="INTEGER"/>
    <result property="productid" column="ProductID" jdbcType="INTEGER"/>
    <result property="saledatetime" column="SaleDateTime" jdbcType="TIMESTAMP"/>
    <result property="quantity" column="Quantity" jdbcType="INTEGER"/>
    <result property="price" column="Price" jdbcType="DECIMAL"/>
    <result property="customerid" column="CustomerID" jdbcType="INTEGER"/>
    <result property="storeid" column="StoreID" jdbcType="INTEGER"/>
    <result property="paymentmethod" column="PaymentMethod" jdbcType="VARCHAR"/>
    <result property="shippingaddress" column="ShippingAddress" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List">
    SaleID,ProductID,SaleDateTime,
    Quantity,Price,CustomerID,
    StoreID,PaymentMethod,ShippingAddress
  </sql>
  <select id="selectHolidaySales" resultType="com.mingqing.entity.YearSales">
    SELECT YEAR(s.`SaleDateTime`)        AS `Year`,
           SUM(s.`Price` * s.`Quantity`) AS total_sales
    FROM `Sales` s
           JOIN `HolidayDates` h ON s.`SaleDateTime` BETWEEN h.`StartDate` AND h.`EndDate`
    WHERE h.`HolidayName` = '春节'
      AND YEAR(s.`SaleDateTime`) BETWEEN #{startYear} AND #{endYear}
    GROUP BY `Year`
    ORDER BY `Year`
  </select>
</mapper>
